
$primary: #007EEA;
$success: #00AB0F;
$enable-shadows: true;
$enable-rounded: false;
$enable-gradients: true;
$secondary: #56698B;
$info: #009AD0;
$warning: #E48200;
$body-bg: #3C434A;
$body-color: $white;
$jumbotron-bg: #343A40;
$hr-border-color: rgba($black, .3);
$kbd-bg: #3C434A;
$card-bg: #343A40;
$input-bg: #343A40;
$input-border-color: #292E33;
$input-color: $gray-300;
$input-disabled-bg: #464C51;
$input-group-addon-bg: #2C3237;
$pagination-bg: #2C3237;
$pagination-color: $white;
$pagination-border-color: #1D2024;
$pagination-hover-bg: #383E46;
$pagination-hover-color: $gray-400;
$pagination-hover-border-color: #31363D;
$pagination-active-color: $white;
$pagination-active-bg: $secondary;
$pagination-disabled-bg: #464C51;
$pagination-disabled-border-color: #383D42;
$pagination-active-border-color: #3C4B64;
$progress-bg: $gray-700;
$nav-tabs-border-color: $gray-900;
$nav-tabs-link-hover-border-color: $gray-900 $gray-900 $nav-tabs-border-color;
$nav-tabs-link-active-color: $gray-300;
$nav-tabs-link-active-border-color: $gray-900 $gray-900 $nav-tabs-link-active-bg;
$link-color: #FFC601;
$link-hover-color: darken($link-color, 8%);
$breadcrumb-bg: $gray-800;
$breadcrumb-divider-color: $gray-300;
$breadcrumb-active-color: $gray-500;
$modal-content-bg: #1C2125;
$modal-content-border-color: rgba($black, .99);
$border-color: $gray-700;
$close-color: $white;
$close-text-shadow: 0 1px 0 $black;
$list-group-bg: #343A40;
$list-group-border-color: rgba($black, .2);
$list-group-hover-bg: $gray-700;
$list-group-action-color: $gray-400;
$dark: #2B3034;