/** https://es.fonts2u.com/minecraft.fuente?ptext=Hay+un+ni%C3%B1o+en+mi+pantano.&size=3 **/

@font-face {
    font-family: 'Minecraft';
    src: url("1_Minecraft-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Minecraft';
    font-style: italic;
    src: url("2_Minecraft-Italic.otf") format("opentype");
}

@font-face {
    font-family: 'Minecraft';
    font-weight: bold;
    src: url("3_Minecraft-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Minecraft';
    font-weight: bold;
    font-style: italic;
    src: url("4_Minecraft-BoldItalic.otf") format("opentype");
}

.mc-4 {
    color: #AA0000;
}

.mc-c {
    color: #FF5555;
}

.mc-6 {
    color: #FFAA00;
}

.mc-e {
    color: #FFFF55;
}

.mc-2 {
    color: #00AA00;
}

.mc-a {
    color: #55FF55;
}

.mc-b {
    color: #55FFFF;
}

.mc-3 {
    color: #00AAAA;
}

.mc-1 {
    color: #0000AA;
}

.mc-9 {
    color: #5555FF;
}

.mc-d {
    color: #FF55FF;
}

.mc-5 {
    color: #AA00AA;
}

.mc-f {
    color: #FFFFFF;
}

.mc-7 {
    color: #AAAAAA;
}

.mc-8 {
    color: #555555;
}

.mc-0 {
    color: #000000;
}

.mc-l {
    font-weight: bold;
}

.mc-m {
    text-decoration: line-through;
}

.mc-n {
    text-decoration: underline;
}
.mc-o {
    font-style: italic;
}